.match-page {
    display: flex;
    height: 100vh;
    color: white;
}

.match-main {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 70%;
    overflow-y: auto;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.swipe-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.swipe-card {
    margin-top: 80px;
    margin-left: 20px;
    background-color: #0C0918;
    border: 1px solid #625b8c;
    border-radius: 20px;
    padding: 0px 60px;
    text-align: center;
    height: 550px;
    width: 90%;
    max-width: 1000px;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
}

.swipe-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.swipe-btn {
    width: 80px;
    height: 80px;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 100px;
    border: 1px solid #9d8bff
}

.profile-image-wrapper {
    border-radius: 50%;
}

.profile-image-match {
    border: 2px solid #9d8bff;
    padding: 5%;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    z-index: 999;
}

.phantom-name {
    cursor: pointer;
    background-color: #272049;
    border: 1px solid #9d8bff;
    width: 30%;
    font-size: small;
    padding: 10px 0px;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;
}

.phantom-name:hover {
    background-color: #9d8bff;
    transform: scale(1.05);
}

.phantom-bio {
    font-size: 12px;
    color: #cccbe5;
    margin: 10px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    transform: translateY(-20px);
    border-radius: 10px;
    border: 1px solid #9d8bff;
    opacity: 0.8;
}

.phantom-bio>div {
    margin-bottom: 8px;
}

.phantom-bio>div:last-child {
    margin-bottom: 0;
}

.bio-location {
    color: #ff6a6a;
}

.swipe-refresh-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    z-index: 10;
    padding: 1vw 1vw;
}

.swipe-refresh {
    all: unset;
    display: flex;
    justify-content: flex-end;
    padding: 0.8vw 0.2vw;
    border-radius: 2em;
    cursor: pointer;
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
}

.swipe-refresh:hover {
    transform: scale(1.03);

}

.swipe-refresh img {
    width: 3vw;
    height: auto;
    border-radius: 10px;
    border: 1px solid #9d8bff;
}

.swipe-refresh-text {
    font-size: 0.9vw;
    color: #6f5d7c;
}




.matched-section {
    padding-top: 70px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
    overflow-y: auto;
    transition: box-shadow 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.match-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #5c4ed2;
    object-fit: cover;
    margin-bottom: 20px;
}

.match-info h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.match-details {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #cccbe5;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.match-details>div {
    margin-bottom: 8px;
}

.match-details>div:last-child {
    margin-bottom: 0;
}

.message-btn {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #0C0918;
    border: 1px solid #7663f3;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 50%;
}

.message-btn:hover {
    background-color: #41377d;
    box-shadow: 0 0 10px 3px #9d8bff;
    transform: scale(1.01);
}

.match-title {
    font-size: 28px;
    margin-bottom: 0px;
    color: #857eaf
}

.match-subtitle {
    font-size: 11px;
    color: #cccbe5;
    margin-bottom: 20px;
    opacity: 0.6;
}

.match-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 30px 0;
    height: 350px;
    border-radius: 10px;
    background-color: #000000;
    width: 100%;
}

.match-card {
    background-color: #0C0918;
    border: 1px solid #625b8c;
    border-radius: 15px;
    padding: 30px;
    width: 200px;
    text-align: center;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.match-card:hover {
    box-shadow: 0 0 15px #b097ff;
    background-color: #1A1333;
}

.match-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.match-info h3 {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.match-avatar {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 2px solid #5c4ed2;
    object-fit: cover;
}

.match-text {
    font-size: 12px;
    color: #cccbe5;
    margin: 30px 0 20px;
}

.swipe-card.empty {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.no-profiles-message {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.arrow-icon {
    width: 80px;
    height: auto;
}




.swipe-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe-label {
    font-size: 0.8rem;
    color: #ccc;
    margin-top: 4px;
    text-align: center;
}

.arrow-icon {
    width: 50px;
    height: auto;
}