.post-creator {
    background-color: #0C0918;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
    margin: 10px auto 20px auto;
    width: 92%;
    color: #cccbe5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    position: relative;
    box-sizing: border-box;
}

.post-creator:hover {
    box-shadow: 0 0 20px rgb(141, 92, 255);
}

.post-description {
    width: 90%;
    background-color: #0C0918;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    resize: none;
    height: 80px;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 20px auto 10px auto;
}

.post-description:focus {
    outline: none;
    box-shadow: none;
    border: none;
}


.post-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

.img-selector {
    display: flex;
    gap: 10px;
}

.image-upload-post {
    background-color: #262250;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    color: #ccc;
    font-size: 11px;
    transition: background-color 0.3s ease;
}

.image-upload-post:hover {
    background-color: #aaa8cc;
}

.send-button {
    background-color: #aaa8cc;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 7px 10px;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #cccbe5;
}