.sidebar {
    display: flex;
    flex-direction: column;
    width: 17%;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    border-right: 0.5px solid #625b8c;
    }

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    }

.logo-icon {
    width:15%;
    border-radius: 10px;
    border: 1px solid #625b8c;
    pointer-events: none;
    }

.logo-text {
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;

    }

@media (max-width: 1008px) {
.logo-text {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
.logo-text {
        font-size: 12px;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 8%;
    padding-left: 5%;
}

.nav-icon {
    margin: -6px;
    padding-right: 8%;
    pointer-events: none;
    width: 20px;
    height: auto;
}

.nav-link {
    text-decoration: none;
    color: #aaa8cc;
    font-size: 12px;
    transition: color 0.3s ease;
    gap: 10px;
}

.nav-link-active {
    text-decoration: none;
    font-weight: bold;
    color: #6e68e1;
    font-size: 13px;
    transition: color 0.3s ease;
}

    .nav-link:hover, .nav-link.active {
    color: #6e68e1;
}

.profile-button-container {
    max-width: 3vw;
    border-radius: 20px;
    padding-right: 15px;
    padding-top: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer-side-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    color: #aaa8cc;
    margin-top: auto;
    padding-bottom: 1px;
    z-index: 1;
    flex-wrap: wrap;
    margin-left: -20px;
}

.footer-side-home .social-media {
    display: flex;
    gap: 10px;
}

.footer-side-home .about-us {
    margin: 0;
}

.footer-side-home .social-media a {
    color: #aaa8cc;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 10px;
}

.footer-side-home .social-media a:hover {
    color: #ffffff;
}

.footer-side-home .social-media a:active {
    color: #ffffff;
}


.profile-dropdown {
    position: absolute;
    top: 69px;
    right: 0;
    margin-right: 5px;
    border-radius: 10px;
    width: 200px;
    padding: 10px 0;
    z-index: 9999;
    color: white;
    background-image: 
        linear-gradient(rgba(48, 26, 189, 0.1), rgba(0, 0, 0, 0.1)),
        url('../assets/loadghost.gif');
    background-position: center;
    background-size: cover;
    background-color: #182730;
    opacity: 0.95;
    border: 1px solid white;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.4);
    animation: fadeInContent 0.4s ease-out;
    background-blend-mode: overlay;
}

.profile-dropdown .dropdown-item {
        color: rgb(255, 255, 255);
}


.dropdown-item {
    margin: 4px 12px;
    display: block;
    padding: 15px 10px;
    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    border-radius: 10px;
    background-color: rgba(86, 61, 148, 0.7)
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.profile-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #625b8c;
}