.personality-page {
    display: flex;
    color: white;
    height: 100vh;
}

.personality-content {
    flex: 1;
    padding: 40px 60px;
    margin-top: 110px;
    overflow-y: auto;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-section {
    display: flex;
    gap: 15vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    padding: 0 30px;
}

.intro-text h1 {
    font-size: 35px;
    margin-bottom: 40px;
}

.intro-text p {
    color: #cccbe5;
    font-size: 12px;
    margin-bottom: 40px;
}

.take-test-btn {
    padding: 20px 40px;
    background-color: #1a132c;
    border: 1px solid #7663f3;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.take-test-btn:hover {
    background-color: #7663f3;
}

.boo-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
    opacity: 0.9;
}

@media (max-width: 1000px) {
    .intro-section {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .boo-image {
        width: 45vw;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .intro-text h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .intro-text p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .take-test-btn {
        padding: 15px 30px;
        font-size: 14px;
    }
}

.questionnaire {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.question-block {
    background-color: #0C0918;
    border: 1px solid #625b8c;
    border-radius: 15px;
    padding: 15px 25px;
    padding-top: 10px;
}

.question-block:hover {
    background-color: #1a1633;
    box-shadow: 0 0 10px 2px #8a82c7;
    border-color: #8a82c7;
}

.question-text {
    margin-bottom: 20px;
    font-size: 12px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 15px;
}

.option-circle {
    position: relative;
    display: inline-block;
}

.option-circle input[type="radio"] {
    display: none;
}

.checkmark {
    height: 22px;
    width: 22px;
    border: 1.5px solid #cccbe5;
    border-radius: 30%;
    display: inline-block;
    position: relative;
    transform-origin: center;
}

.option-circle input[type="radio"]:checked+.checkmark {
    background-color: #7663f3;
    animation: pulseScale 0.3s ease;
}

@keyframes pulseScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.option-circle:nth-child(2) .checkmark {
    transform: scale(1.1);
    cursor: pointer;

}

.option-circle:nth-child(3) .checkmark {
    transform: scale(0.8);
    cursor: pointer;
}

.option-circle:nth-child(4) .checkmark {
    transform: scale(0.6);
    cursor: pointer;
}

.option-circle:nth-child(5) .checkmark {
    transform: scale(0.8);
    cursor: pointer;
}

.option-circle:nth-child(6) .checkmark {
    transform: scale(1.1);
    cursor: pointer;
}

.option-circle input[type="radio"]:checked+.checkmark {
    background-color: #7663f3;
    border-color: #7663f3;
}

.options>span {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    user-select: none;
    border: 1px solid #7663f3;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.7;
}