.personality-page {
    display: flex;
    color: white;
    height: 100vh;
}

.personality-content {
    flex: 1;
    padding: 40px 60px;
    margin-top: 110px;
    overflow-y: auto;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-section {
    display: flex;
    gap: 15vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    padding: 0 30px;
}

.intro-text h1 {
    font-size: 35px;
    margin-bottom: 40px;
}

.intro-text p {
    color: #cccbe5;
    font-size: 12px;
    margin-bottom: 40px;
}

.take-test-btn {
    padding: 20px 40px;
    background-color: #1a132c;
    border: 1px solid #7663f3;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.take-test-btn:hover {
    background-color: #7663f3;
    border-color: #7663f3;
}

.boo-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
    opacity: 0.9;
}

@media (max-width: 1000px) {
    .intro-section {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .boo-image {
        width: 45vw;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .intro-text h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .intro-text p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .take-test-btn {
        padding: 15px 30px;
        font-size: 14px;
    }
}

.questionnaire {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.question-block {
    background-color: #0C0918;
    border: 1px solid #625b8c;
    border-radius: 15px;
    padding: 15px 25px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.question-block:hover {
    background-color: #1a1633;
    box-shadow: 0 0 10px 2px #8a82c7;
    border-color: #8a82c7;
}

.question-text {
    margin-bottom: 20px;
    font-size: 12px;
    color: #ffffff;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
}

.option-circle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    user-select: none;
}

.option-circle input[type="radio"] {
    display: none;
}

.checkmark {
    height: 22px;
    width: 22px;
    border: 1.5px solid #cccbe5;
    border-radius: 30%;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    flex-shrink: 0;
}

.option-circle input[type="radio"]:checked + .checkmark {
    background-color: #7663f3;
    border-color: #7663f3;
    animation: pulseScale 0.3s ease;
}

@keyframes pulseScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

.result-section {
    background-color: #000000;
    border: 1px solid #7663f3;
    border-radius: 15px;
    padding: 25px 30px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 0 5px 1px #7663f3aa;
    color: #ffffff;
    user-select: none;
}

.result-section h2 {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.result-section p {
    font-size: 40px;
    font-weight: 700;
    color: #8a82c7;
    margin: 0;
    letter-spacing: 2px;
}

.result-gif {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  border-radius: 10px;
  user-select: none;
}
